.ipynb_checkpoints
*.pickle
*.pickle
submission_*.csv
bag_of_words*.csv
test_cleaned*.csv
train_cleaned*.csv
simple_docvec*.csv
avg_wordvec*.csv
svm_docvec.csv
test_*.csv
train_*.csv
stack_*.csv
meta*.csv
tfid*.csv
conv_net.csv
gru.csv
wordvecs
